body {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  background-color: gray;
}

h1 {
  margin-top: 100px;
  text-align: center;
}
.form-inline {
  font-family: Helvetica, Arial, sans-serif;
  width: 83%;
  margin: 0 auto;
}
.btn {
  font-family: 'Josefin Sans', sans-serif;
}
#songTarget {
  font-size: 20px;
}
a {
  color: white;
}
